[[bench]]
model = "count-bytes"
name = "huge1"
regex = ' '
haystack = { path = "sherlock/huge.txt" }
count = 97_626
engines = [
  "libc/memchr/oneshot",
  "rust/bytecount/memchr/oneshot",
  "rust/bytecount/memchr/oneshot/wasm32",
  "rust/memchr/memchr/onlycount",
  "rust/memchr/memchr/onlycount/wasm32",
  "rust/memchr/memchr/oneshot",
  "rust/memchr/memchr/prebuilt",
  "rust/memchr/memchr/fallback",
  "rust/memchr/memchr/fallback/onlycount",
  "rust/memchr/memchr/naive",
  "rust/memchr/memchr/wasm32",
  "rust/memchr/memrchr",
  "rust/memchrold/memchr/oneshot",
  "rust/memchrold/memchr/prebuilt",
  "rust/memchrold/memchr/naive",
  "rust/memchrold/memrchr",
]

[[bench]]
model = "count-bytes"
name = "small1"
regex = ' '
haystack = { path = "sherlock/small.txt" }
count = 106
engines = [
  "libc/memchr/oneshot",
  "rust/bytecount/memchr/oneshot",
  "rust/bytecount/memchr/oneshot/wasm32",
  "rust/memchr/memchr/onlycount",
  "rust/memchr/memchr/onlycount/wasm32",
  "rust/memchr/memchr/oneshot",
  "rust/memchr/memchr/prebuilt",
  "rust/memchr/memchr/fallback",
  "rust/memchr/memchr/fallback/onlycount",
  "rust/memchr/memchr/naive",
  "rust/memchr/memchr/wasm32",
  "rust/memchr/memrchr",
  "rust/memchrold/memchr/oneshot",
  "rust/memchrold/memchr/prebuilt",
  "rust/memchrold/memchr/naive",
  "rust/memchrold/memrchr",
]
